body{
    background-color: rgb(94, 16, 117);
}

.Giphy{
    margin: 100px 0 0 200px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.bodyContainer{
    padding: 0 2px;
}

